 * {
     margin: 0;
     padding: 0;
 }
 
 body {
     font-family: "Microsoft Yahei", "SelaneWebSTTwenty", Georgia, "Times New Roman", Times, serif;
 }
 
 a {
     text-decoration: none;
 }
 
 li {
     list-style: none;
 }
 
 .layout {
     max-width: 1080px;
     margin: 0 auto;
 }
 /*nav*/
 
 .fixed {
     position: fixed;
     z-index: 10;
 }
 
 .clearfix:after {
     content: ' ';
     display: block;
     clear: both;
 }
 
 .fixed {
     height: 80px;
     background: rgb(255, 82, 83);
     /*border-bottom: 0.5px solid #999;*/
     box-shadow: 0 1px 3px 5px rgba(0, 0, 0, .4);
     width: 100%;
 }
 
 .nav-list {
     float: right;
 }
 
 .nav-list li {
     float: left;
     color: #fff;
 }
 
 nav .logo {
     /*color: #fff;
	font-size: 46px;*/
     padding-top: 10px;
     display: inline-block;
 }
 
 nav .logo img {
     width: 62px;
 }
 
 .nav-list li a {
     box-sizing: border-box;
     color: #fff;
     display: inline-block;
     margin-left: 30px;
     margin-top: 22px;
     padding: 10px 8px;
     text-decoration: none;
     font-size: 18px;
 }
 
 .nav-list li a:hover {
     background: rgb(255, 82, 83);
     border-radius: 5px;
 }
 /*header*/
 
 #particles-js {
     position: absolute;
     max-height: 300px;
 }
 
 .header {
     display: flex;
     justify-content: center;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 .title {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     min-height: 300px;
     z-index: 2;
     position: relative;
 }
 
 .title h1 {
     font-size: 42px;
     line-height: 2;
     color: #fff;
 }
 
 .title h5 {
     font-size: 20px;
     color: #fff;
 }
 
 ul,
 li {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 a {
     text-decoration: none;
 }
 
 .clearfix:after {
     content: '';
     display: block;
     clear: both;
 }
 
 .health {
     padding: 70px 0;
 }
 .carousel {
     max-width: 700px;
     min-height: 600px;
     position: relative;
     overflow: hidden;
     margin: 0 auto;
 }
 
 .img-ct {
     position: relative;
     width: 4900px;
     height: 465px;
 }
 
 .img-ct>li {
     float: left;
 }
 
 .carousel .img-ct img {
     width: 700px;
     display: inline-block;
 }
 /*按钮*/
 
 .carousel .btn {
     z-index: 4;
     position: absolute;
     top: 38%;
     margin-top: -15px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background: rgb(255, 82, 83);
     opacity: 0.9;
     color: #fff;
     display: block;
     text-align: center;
     line-height: 30px;
 }
 
 .left {
     left: 10px;
 }
 
 .right {
     right: 10px;
 }
 
 .carousel .bullet-ct {
     position: absolute;
     bottom: 35px;
     left: 0;
     right: 0;
     text-align: center;
 }
 
 .carousel .bullet {
     display: inline-block;
 }
 
 .carousel .bullet>li {
     width: 100px;
     height: 53px;
     margin: 0 5px;
     display: inline-block;
     cursor: pointer;
     opacity: 0.5;
 }
 
 .bullet>li.active {
     opacity: 1;
 }
 /*轮播结束*/
 
 main .health,
 main .idol {
     text-align: center;
 }
 .health {
     padding: 70px 0;
 }
 main h1 {
     font-size: 42px;
     line-height: 2.5;
     color: rgb(255, 82, 83);
 }
 /* idol*/
 
 .img-container {
     width: 1000px;
     margin: 20px auto;
 }
 
 .img-row:after {
     content: '';
     display: block;
     clear: both;
 }
 
 .img-box {
     float: left;
     margin-right: 8px;
 }

 .idol {
     margin-top: 30px;
     background: rgba(204,204,204,0.41);
     padding: 50px 0;
 }
 .idol h5 {
     font-size: 18px;
 }
 /*books*/
 .books {
     padding: 70px 0;
 }

 .books table {
     margin: 30px auto;
 }
 table td {
     vertical-align: middle;
     padding: 30px;
    box-sizing: border-box;
  
 }
 table .pic {
     position: relative;
 }
 table td h1 {
     font-size: 30px;

 }
 table td h2 {
     font-size: 24px;
 }
  table td h5 {
     font-size: 16px;
 }
 table td p {
    font-size: 16px;
    text-indent: 2em;
    line-height: 1.5;
    margin: 10px 0;
 }
 td .border1 {
        position: absolute;
    width: 288px;
    height: 357px;
    border: 10px solid rgb(255, 82, 83);
    top: 5px;
    left: 7px;
    z-index: -1;
 }
  td .border2 {
      position: absolute;
    width: 274px;
    height: 345px;
    border: 10px solid rgb(255, 82, 83);
    top: 22px;
    left: 31%;
    z-index: -1;
  }
  td .border3 {
    position: absolute;
    width: 280px;
    height: 386px;
    border: 10px solid rgb(255, 82, 83);
    top: 5px;
    left: 69px;
    z-index: -1;
  }
  .td2 {
    text-align: center;
  }
  td img {
      width: 300px;
  }

/*footer*/

.footer {
    height: 100px;
    text-align: center;
    background: rgb(255, 82, 83);
    color: #fff;
}

.footer p {
    line-height: 100px;
    font-size: 20px
}