* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft Yahei", "SelaneWebSTTwenty", Georgia, "Times New Roman", Times, serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.layout {
    max-width: 1080px;
    margin: 0 auto;
}


/*nav*/

.fixed {
    position: absolute;
    z-index: 10;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.fixed {
    height: 80px;
    background: rgb(255, 82, 83);
    /*border-bottom: 0.5px solid #999;*/
    box-shadow: 0 1px 3px 5px rgba(0, 0, 0, .4);
    width: 100%;
}

.nav-list {
    float: right;
}

.nav-list li {
    float: left;
    color: #fff;
}

nav .logo {
    /*color: #fff;
	font-size: 46px;*/
    padding-top: 10px;
    display: inline-block;
}

nav .logo img {
    width: 62px;
}

.nav-list li a {
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    margin-left: 30px;
    margin-top: 22px;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 18px;
}

.nav-list li a:hover {
    background: rgb(255, 82, 83);
    border-radius: 5px;
}


/*header*/

#particles-js {
    position: absolute;
    max-height: 300px;
}

.header {
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    z-index: 2;
    position: relative;
}

.title h1 {
    font-size: 42px;
    line-height: 2;
    color: #fff;
}

.title h5 {
    font-size: 20px;
    color: #fff;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


/*skill*/

section {
    padding: 30px 0;
}

section .skill-title {
    text-align: center;
}

section .skill-title h2 {
    line-height: 95px;
    font-size: 40px;
    color: rgb(255, 82, 83);
}

.skill {
    width: 600px;
    height: 400px;
    margin: 10px auto;
}


/*work1*/

.work {
    width: 100%;
    height: 100%;
    padding: 0;
}

.birthday {
    background: #ffe4e1;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.birthday div {
    width: 170px;
    height: 140px;
    margin-left: -85px;
    margin-top: -60px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #db7093), color-stop(35%, #db7093), color-stop(35%, #d2b48c), color-stop(75%, #d2b48c), color-stop(75%, #db7093), color-stop(78%, #db7093), color-stop(78%, #d2b48c));
    background-image: linear-gradient(to bottom, #db7093 0, #db7093 35%, #d2b48c 35%, #d2b48c 75%, #db7093 75%, #db7093 78%, #d2b48c 78%);
    border-radius: 15px 15px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
}

.birthday div:before {
    width: 10px;
    height: 50px;
    top: 35px;
    left: 0;
    background: #db7093;
    border-radius: 10px;
    -webkit-box-shadow: 10px 5px 0 #d2b48c, 20px -20px 0 #db7093, 30px -2px 0 #d2b48c, 40px 0 0 #db7093, 50px 5px 0 #d2b48c, 60px -10px 0 #db7093, 70px 5px 0 #d2b48c, 80px -20px 0 #db7093, 90px -5px 0 #d2b48c, 100px 5px 0 #db7093, 110px 5px 0 #d2b48c, 120px -25px 0 #db7093, 130px 8px 0 #d2b48c, 140px -10px 0 #db7093, 150px 0 0 #d2b48c, 160px -5px 0 #db7093;
    box-shadow: 10px 5px 0 #d2b48c, 20px -20px 0 #db7093, 30px -2px 0 #d2b48c, 40px 0 0 #db7093, 50px 5px 0 #d2b48c, 60px -10px 0 #db7093, 70px 5px 0 #d2b48c, 80px -20px 0 #db7093, 90px -5px 0 #d2b48c, 100px 5px 0 #db7093, 110px 5px 0 #d2b48c, 120px -25px 0 #db7093, 130px 8px 0 #d2b48c, 140px -10px 0 #db7093, 150px 0 0 #d2b48c, 160px -5px 0 #db7093;
}

.birthday div:after {
    width: 190px;
    height: 250px;
    margin-left: -10px;
    top: -60px;
    background-image: repeating-linear-gradient(45deg, #afeeee, #afeeee 3px, #5f9ea0 3px, #5f9ea0 6px), repeating-linear-gradient(45deg, #afeeee, #afeeee 3px, #5f9ea0 3px, #5f9ea0 6px), repeating-linear-gradient(45deg, #afeeee, #afeeee 3px, #5f9ea0 3px, #5f9ea0 6px), radial-gradient(ellipse, #fffacd 70%, transparent 70%), radial-gradient(ellipse, #fffacd 70%, transparent 70%), radial-gradient(ellipse, #fffacd 70%, transparent 70%), radial-gradient(ellipse, #ffa500 70%, transparent 70%), radial-gradient(ellipse, #ffa500 70%, transparent 70%), radial-gradient(ellipse, #ffa500 70%, transparent 70%), linear-gradient(#555, #555), linear-gradient(#555, #555), linear-gradient(#555, #555), linear-gradient(to top, transparent 46px, white 46px, white 52px, transparent 52px), radial-gradient(circle at 100% 20%, transparent 70%, white 70%), radial-gradient(circle at 0 20%, transparent 70%, white 70%);
    background-repeat: no-repeat;
    background-size: 6px 35px, 6px 35px, 6px 35px, 4px 8px, 4px 8px, 4px 8px, 10px 20px, 10px 20px, 10px 20px, 2px 6px, 2px 6px, 2px 6px, 100% 100%, 100px 50px, 100px 50px;
    background-position: 64px 25px, center 25px, 120px 25px, 65px 10px, center 10px, 121px 10px, 62px 0, center 0, 118px 0, 66px 20px, center 20px, 122px 20px, 0 0, right bottom, left bottom;
}

.work div:before,
.work div:after {
    display: block;
    content: '';
    position: absolute;
}

.panda {
    background: #48d1cc;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.panda div {
    width: 210px;
    height: 160px;
    margin-left: -110px;
    margin-top: -80px;
    background-color: white;
    background-image: radial-gradient(ellipse at 50% 60%, #333 12px, transparent 12px), radial-gradient(ellipse at 50% 80%, #555 6px, transparent 6px);
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px 60px;
    border-bottom-right-radius: 110px 60px;
    border: 5px solid #333;
    border-bottom-width: 10px;
    -webkit-box-shadow: inset 10px -10px 0 #eee;
    box-shadow: inset 10px -10px 0 #eee;
    position: absolute;
    left: 50%;
    top: 50%;
}

.panda div:before {
    width: 70px;
    height: 40px;
    left: 29px;
    top: 55px;
    background-color: #333;
    background-image: radial-gradient(circle at 51px 20px, white 3px, transparent 3px), radial-gradient(circle at 46px 20px, #333 7px, transparent 7px), radial-gradient(circle at 45px 20px, white 10px, transparent 10px);
    border-radius: 50% 50% 45% 42%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 10px -72px 0 -4px #333;
    box-shadow: 10px -72px 0 -4px #333;
}

.panda div:after {
    width: 70px;
    height: 40px;
    left: 111px;
    top: 55px;
    background-color: #333;
    background-image: radial-gradient(circle at 24px 15px, white 3px, transparent 3px), radial-gradient(circle at 24px 20px, #333 7px, transparent 7px), radial-gradient(circle at 25px 20px, white 10px, transparent 10px);
    border-radius: 50% 50% 42% 45%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -10px -72px 0 -4px #333;
    box-shadow: -10px -72px 0 -4px #333;
}


/*pikaqiu*/

.pikaqiu {
    background: #FFE600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pikaqiu-wrap {
    padding: 0;
}

#container {
    height: 300px;
    width: 460px;
    position: relative;
}

#nose {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 100px;
    border: 15px solid transparent;
    z-index: 2;
    border-radius: 50%;
    border-top-color: black;
}

#nose:hover {
    animation: 0.1s xxx 0s infinite alternate;
}

.eye {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2E2E2E;
    border: 2px solid black;
    border-radius: 30px;
    top: 65px;
}

.eye::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 15px;
    top: 0;
    position: absolute;
    left: 6px;
    border: 2px solid black;
}

.eye-left {
    right: 50%;
    margin-right: 90px;
}

.eye-right {
    left: 50%;
    margin-left: 90px;
}

.upperLip {
    position: absolute;
    top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.upperLip::before {
    content: '';
    display: block;
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 50px 30px;
    transform: rotateZ(-20deg);
    background: #FFE600;
}

.upperLip::after {
    content: '';
    display: block;
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 50px 30px;
    transform: rotateZ(20deg);
    background: #FFE600;
}

.lowerLip-wrapper {
    position: absolute;
    width: 100%;
    top: 120px;
    height: 200px;
    overflow: hidden;
}

.lowerLip {
    position: absolute;
    border: 5px solid black;
    width: 200px;
    bottom: 0;
    height: 1800px;
    left: 50%;
    transform: translateX(-50%);
    border-top: none;
    border-bottom-left-radius: 100px 900px;
    border-bottom-right-radius: 100px 900px;
    border-top-left-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
    background: #FF485F;
    box-shadow: inset 0 1610px 0 20px #9B000A;
}

.face {
    border: 3px solid black;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 160px;
    background: #FF0000;
}

.face-left {
    right: 50%;
    margin-right: 130px;
}

.face-right {
    left: 50%;
    margin-left: 130px;
}

@keyframes xxx {
    0% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(3deg);
    }
}


/*footer*/

.footer {
    height: 100px;
    text-align: center;
    background: rgb(255, 82, 83);
    color: #fff;
}

.footer p {
    line-height: 100px;
    font-size: 20px
}